<form id="formulario" autocomplete="off">
  <fieldset class="fds">
    <label class="lbl">Nome:</label><br><input class="campo_nome" type="text"><br>
    <label class="lbl">Descrição:</label><br><input class="descricao" type="text"><br>
    <label class="lbl">Prioridade:</label><br><input class="prioridade" type="text"><br>
    <label class="lbl">Data Task:</label><br><input class="data_task" type="text"><br>
    <input class="btn_submit" type="submit" value="CadastrarTarefa">
  </fieldset>
</form>