<div>
  <label for="nome">Nome: </label>
  <input type="text" name="nome" [(ngModel)]="nome"/>
</div>
<div>
  <label for="descricao">Descrição: </label>
  <input type="text" name="descricao" [(ngModel)]="descricao"/>
</div>
<div>
  <label for="quantidade">Prioridade:</label>
  <input type="text" name="prioridade" [(ngModel)]="prioridade"/>
</div>
<div>
  <label for="preco">Data:</label>
  <input type="text" name="data" [(ngModel)]="data"/>
</div>
<button (click)="cadastrar()">Cadastrar</button>
